SPRING_APPLICATION_NAME=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=

SPRING_JPA_DATABASE_PLATFORM=
SPRING_JPA_HIBERNATE_DDL_AUTO=
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=

LOGGING_LEVEL_ORG_HIBERNATE_SQL=
LOGGING_LEVEL_ORG_HIBERNATE_TYPE_DESCRIPTOR_SQL_BASICBINDER=

JWT_SECRET_KEY=
APP_JWT_EXPIRATION_MS=604800000
APP_JWT_REFRESH_EXPIRATION_MS=

SPRING_CACHE_TYPE=
SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PORT=

APP_ADMIN_USERNAME=
APP_ADMIN_PASSWORD=
